<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- jquery -->
    <script src="http://img.jejualan.com/cdn/plugins/jquery/jquery-2.1.0.min.js"></script>


    <!-- css primary -->
    <link rel="stylesheet" href="../assets/css/rereyossi-style.css">


</head>

<body>
    <div class="container">
        <div id="cart-shiping">
            <h1 class="text-title">Shopping cart</h1>
            <div class="cart-step">
                <ul>
                    <li class="cart-step-active">
                        <a href="#">langkah order</a>
                    </li>
                    <li class="cart-step-active">
                        <a href="#">step</a>
                    </li>
                    <li class="cart-step-active">
                        <a href="#">step</a>
                    </li>
                    <li class="cart-step-active">
                        <a href="#">step</a>
                    </li>
                    <li class="cart-step-active">
                        <a href="#">step</a>
                    </li>
                    <li>
                        <a href="#">step</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <!-- shipping address -->
                <form action="" class="form-horizontal">
                    <div class="shiping-address col-md-4">
                        <h3 class="text-title">alamat pengiriman</h3>


                        <!-- username -->
                        <div class="form-group">
                            <label for="">email</label>
                            <input type="text" class="form-control">
                        </div>

                        <!-- password -->
                        <div class="form-group">
                            <label for="">email</label>
                            <input type="text" class="form-control">
                        </div>
                        <!-- username -->
                        <div class="form-group">
                            <label for="">email</label>
                            <input type="text" class="form-control">
                        </div>

                        <!-- password -->
                        <div class="form-group">
                            <label for="">email</label>
                            <input type="text" class="form-control">
                        </div>
                        <!-- submit -->


                    </div>
                    <!-- shipping product -->
                    <div class="shiping-product col-md-8">


                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="" id="input" value="" checked="checked">Alamat tagihan sama dengan alamat pengiriman
                            </label>
                        </div>

                        <!-- expedisi -->
                        <div class="shiping-expedisi">
                            <h4 class="">Silahkan pilih ekspedisi pengiriman:</h4>
                            <!-- form radio -->
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="input" value="" checked="checked">Radio Box
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="input" value="">Radio Box
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="input" value="">Radio Box
                                </label>
                            </div>
                        </div>

                        <!-- shiping information -->
                        <div class="shiping-information">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Total Harga Produk</td>
                                        <td align="right">Rp 110.000</td>
                                    </tr>
                                    <tr>
                                        <td>Total Berat Produk</td>
                                        <td align="right">Rp 110.000</td>
                                    </tr>
                                    <tr>
                                        <td>Biaya Pengiriman</td>
                                        <td align="right">Rp 110.000</td>
                                    </tr>
                                    <tr>
                                        <td>Biaya Pengiriman</td>
                                        <td align="right">Rp 110.000</td>
                                    </tr>
                                    <tr>
                                        <td>Biaya Total</td>
                                        <td align="right">
                                            <strong class="shiping-total">Rp 110.000</strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- transfer -->

                        <div class="shiping-transfer">
                            <h4 class="">Silahkan pilih ekspedisi pengiriman:</h4>
                            <!-- form radio -->
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="input" value="" checked="checked">Radio Box
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="input" value="">Radio Box
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- submit -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary pull-right">lanjut</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</body>

</html>
