<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- jquery -->
    <script src="http://img.jejualan.com/cdn/plugins/jquery/jquery-2.1.0.min.js"></script>


    <!-- css primary -->
    <link rel="stylesheet" href="../assets/css/rereyossi-style.css">


</head>

<body>
    <div class="container">
        <div id="product-detail">
            <div class="row">
                <!-- image big zoom -->
                <div class="col-sm-6">

                </div>
                <div class="detail-caption col-md-6">
                    <h1 class="detail-title">title product detail</h1>


                    <div class="price">
                        <div class="price-new">Rp.12.000</div>
                        <div class="price-old">Rp. 21.000</div>
                    </div>


                    <div class="detail-stock">
                        <i class="fa fa-check-circle"></i> Tersedia
                        <i class="fa fa-times-circle"></i> Tidak tersedia
                    </div>


                    <div class="detail-info">
                        <div class="info-sub">
                            <span class="info-title">Nomor Produk</span>
                            <span>052</span>
                        </div>
                        <div class="info-sub">
                            <span class="info-title">Nomor Produk</span>
                            <span>052</span>
                        </div>
                        <div class="info-sub">
                            <span class="info-title">Nomor Produk</span>
                            <span>052</span>
                        </div>
                        <div class="info-sub">
                            <span class="info-title">Nomor Produk</span>
                            <span>052</span>
                        </div>
                    </div>


                    <div class="tag">
                    	<h4 class="text-capital">tag</h4>
                        <a href="" class="detail-tag">tag</a>
                        <a href="" class="detail-tag">tag</a>
                        <a href="" class="detail-tag">tag</a>
                    </div>

                    <form action="">

                        <div class="form-group">
                            <select class="form-control" id="">
                                <option value="">option</option>
                                <option value="">option</option>
                                <option value="">option</option>
                                <option value="">option</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">Beli</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
