@import url('main.css');
.border-primary {
  border: 1px solid #dddddd;
  padding: 15px;
}
.active-primary {
  display: block;
}
.deactive-primary {
  display: none;
}
.nav-sidebar {
  background-color: #ec4777;
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav-sidebar .close-left,
.nav-sidebar .close-right {
  display: block;
  color: #fff;
}
.nav-sidebar ul {
  border: none;
}
.nav-sidebar-left {
  left: -180px;
}
.nav-sidebar-right {
  right: -180px;
}
.nav-sidebar-left-active {
  left: 0 !important;
}
.nav-sidebar-right-active {
  right: 0 !important;
}
#main {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.main-active-right {
  -webkit-transform: translateX(-180px);
  -moz-transform: translateX(-180px);
  -ms-transform: translateX(-180px);
  -o-transform: translateX(-180px);
  transform: translateX(-180px);
}
.main-active-left {
  -webkit-transform: translateX(180px);
  -moz-transform: translateX(180px);
  -ms-transform: translateX(180px);
  -o-transform: translateX(180px);
  transform: translateX(180px);
}
