

/*
 ----------------------------
 Modal Example 1
 ----------------------------
 */
.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0 none;
}
.modal-content .img{
    width: 150px;
}
.modal-header {
    border-bottom: 1px solid #E5E5E5;
    padding: 15px;
}
.modal-header .close i{
    color: #333;
}
.modal-body p,
.modal-header h4 {
    margin: 0;
}
.modal-body {
    padding: 20px;
}
.modal-header .close{
    float: right;
}

/*desktop*/
 @media only screen and (min-width: 990px), only screen and (max-device-width: 990px) {
    .modal-content {
        width: 800px;
        background-color: #fff;
    }
}