.nopadding {
  padding: 0px;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-left {
  margin-left: 20px;
}
.margin-right {
  margin-right: 20px;
}
.img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.img img {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
}
