//extension for web 
//text-transform
.text-capital{
	text-transform:capitalize;
	//hurup depan capital
}
.text-upper{
	text-transform:uppercase;  
	//semua hurup capital
}
.text-lower{
	text-transform:lowercase; 
	//semua hurup kecil
}
//no padding
.nopadding{
	padding: 0px;
}

//margin
.margin-top{
	margin-top: 20px;
}
.margin-bottom{
	margin-bottom: 20px;
} 
.margin-left{
	margin-left: 20px;
}
.margin-right{
	margin-right: 20px;
}

// clearfix
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



