@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700|Roboto+Condensed:400,700);
@import url('bootstrap.css');
html {
  font-size: 62.5%;
  color: #979797;
}
* {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: capitalize;
  color: #333;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
small {
  font-size: 80%;
  color: #6f6f6f;
  line-height: 0;
}
p {
  font-family: inherit;
  font-weight: normal;
  margin-bottom: 1.11111rem;
  text-rendering: optimizeLegibility;
}
a {
  color: #008cba;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.text-capital {
  text-transform: capitalize;
}
.text-upper {
  text-transform: uppercase;
}
.text-lower {
  text-transform: lowercase;
}
.text-title {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.form-group {
  display: block;
  margin-bottom: 15px;
}
.form-group:before,
.form-group:after {
  content: " ";
  display: table;
}
.form-group:after {
  clear: both;
}
.form-group label {
  display: inline-block;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
label {
  text-transform: capitalize;
  font-weight: 700;
}
.form-inline:before,
.form-inline:after {
  content: " ";
  display: table;
}
.form-inline:after {
  clear: both;
}
.form-inline .form-group {
  display: inline;
  float: left;
}
.form-vertical label {
  text-align: right;
}
textarea {
  min-height: 100px !important;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio input,
.checkbox input {
  float: left;
  margin-left: -20px;
  margin: 6px 4px 0 0;
  box-sizing: border-box;
  padding: 0;
  line-height: normal;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 8px;
  font-weight: 400;
  cursor: pointer;
}
.radio-inline:before,
.checkbox-inline:before,
.radio-inline:after,
.checkbox-inline:after {
  content: " ";
  display: table;
}
.radio-inline:after,
.checkbox-inline:after {
  clear: both;
}
.radio-inline .radio,
.checkbox-inline .radio,
.radio-inline .checkbox,
.checkbox-inline .checkbox {
  padding-left: 20px;
  float: left;
  display: inline;
}
.radio-vertical .radio,
.checkbox-vertical .radio,
.radio-vertical .checkbox,
.checkbox-vertical .checkbox {
  padding-left: 20px;
}
.nopadding {
  padding: 0px;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-left {
  margin-left: 20px;
}
.margin-right {
  margin-right: 20px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.img img {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
#nav-main {
  background-color: #a9d6f2;
}
#nav-main:before,
#nav-main:after {
  content: " ";
  display: table;
}
#nav-main:after {
  clear: both;
}
.navbar {
  float: left;
  background-color: #a9d6f2;
  text-transform: capitalize;
}
.navbar ul {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar ul:before,
.navbar ul:after {
  content: " ";
  display: table;
}
.navbar ul:after {
  clear: both;
}
.navbar ul li {
  position: relative;
  list-style: none;
  float: left;
}
.navbar ul li:hover ul {
  display: block;
}
.navbar ul li:hover ul ul {
  display: none;
}
.navbar ul li:hover ul li:hover ul {
  top: 0;
  display: block;
}
.navbar ul li:hover ul li:hover ul ul {
  display: none;
}
.navbar ul li a {
  transition: all .25s;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar ul li a:hover {
  background-color: #53bdff;
  text-decoration: none;
}
.navbar ul ul {
  display: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 0;
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}
.navbar ul ul li {
  width: 180px;
  position: relative;
}
.navbar ul ul li a {
  display: block;
}
.navbar ul ul li ul {
  left: 180px;
}
.nav-box {
  float: left;
}
.nav-box .nav-box-wrapper {
  height: 50px;
  min-width: 100px;
  display: table-cell;
  vertical-align: middle;
}
.nav-box .nav-box-wrapper .form-group {
  padding-top: 8px;
}
.list-vertical li a {
  display: block;
  overflow: hidden;
  height: 50px;
  width: 180px;
  line-height: 50px;
  background-color: #ffffff;
  color: #333333;
}
.list-vertical li a:hover {
  background-color: #333333;
  color: #ffffff;
}
.list-vertical .active {
  background-color: #333333;
  color: #ffffff;
}
.list-inline li {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.pagging-main {
  display: inline-block;
}
.pagging-main li {
  list-style: none;
  display: inline-block;
}
.pagging-main li a {
  transition: .25s;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #9ad2ff;
  border: 1px solid #ddd;
}
.pagging-main li a:hover {
  background-color: #49a5ff;
}
.pagging-main .first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagging-main .last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagging-main .active {
  background-color: #ffffff;
  color: #49a5ff;
}
.btn {
  text-transform: capitalize;
  text-decoration: none;
  font: inherit;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
}
.btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn-primary {
  background-color: #4ea9f4;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #0e85e7;
}
.btn-second {
  background-color: #ec4777;
  color: #ffffff;
}
.btn-second:hover,
.btn-second:focus,
.btn-second:active {
  background-color: #d1164c;
}
.btn-third {
  background-color: #f7de71;
  color: #ffffff;
}
.btn-third:hover,
.btn-third:focus,
.btn-third:active {
  background-color: #f3cd29;
}
.alert {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 8px;
  border-radius: 3px;
  margin-bottom: 20px;
  transform: 0.25s;
}
.alert a {
  text-decoration: none;
}
.alert a:hover {
  text-decoration: none;
}
.alert-warning {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
#carosel-main .item img {
  margin-left: 10px;
  margin-right: 10px;
}
.info {
  background-color: #3C3C3C;
}
.info #menu-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info #menu-bottom h3 {
  color: #afafaf;
}
.info #menu-bottom a {
  color: #fff;
  trasition: 0.8s;
}
.info #menu-bottom a:hover {
  transform: translateX(10px);
}
.connect {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2A2A2A;
}
.connect h3 {
  color: #afafaf;
}
.connect .newsletter .form-group {
  margin-bottom: 0;
}
.connect .newsletter .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.connect .newsletter .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
