@color-primary: #fff*1.2;
 .navbar {
 	 	 	float: left;

    ul {
    	 	 	 	margin-top: 0;
 	 	 	margin-bottom: 0;
        .clearfix();
        li {
            list-style: none;
            float: left;
            a {
                display: block;
                height: 50px;
                line-height: 50px;
                padding-left: 15px;
                padding-right: 15px;
                &:hover {
                    background-color: @color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}
@import url('extension.less');
 #nav-main {
 	.clearfix();
    background-color: blue;
}
.nav-box {
	float: left;
	height: 50px !important;
	line-height: 50px;
	min-width: 50px;
	background-color: red;
}

// list size
@list-height: 50px;
@list-width: 180px;
// list color
@list-background: #fff;
@list-color: #333;
// list hover
@list-hover-background: @list-color;
@list-hover-color: @list-background;
// list active page
@list-active-background:#333;
@list-active-color: #fff;
.list-main{
    li{
        a{
            display: block;
            overflow: hidden;
            height: @list-height;
            width: @list-width;
            line-height: @list-height;
            background-color: @list-background;
            color: @list-color;
            &:hover{
                background-color: @list-hover-background;
                color: @list-hover-color;
            }
        }
    }

    .active{
        background-color: @list-active-background;
        color: @list-active-color;
    }
}


// inline list 
.inline-list{
    li{
        display: inline-block;
        a{
            margin-left: 10px;
        }
    }
}