.tabs-main{
    display: block;

    // tabs anchor
    .tabs{
        overflow: hidden;
        background-color: @color-primary;
        a{
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            float: left;
            display: block;
            padding: 10px;
            width: 25%;
            text-align: center;
            color: color-text-primary;
            &:hover{
                color: color-text-second;
                text-decoration: none;
            }
        }
    }

    // tabs content wrapper
    .content{
        overflow: hidden;
        padding: 20px;
        border: 1px solid @color-line-primary;
    }

    // content utama
    .tab-content{
        display: none;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-animation: bounce 0.5s;
        -moz-animation: bounce 0.5s;
        -ms-animation: bounce 0.5s;
        -o-animation: bounce 0.5s;
        animation: bounce 0.5s;
        
        
    }

    // active nav tabs 
    .active-tab{
        background-color: @color-second;
            -webkit-animation: bounce 0.5s infinite;
        -moz-animation: bounce 0.5s infinite;
        -ms-animation: bounce 0.5s infinite;
        -o-animation: bounce 0.5s infinite;
        animation: bounce 0.5s infinite;
    }

    // active content
    .active-content{
        display: block;
    }
}