
// general radius 
// radius for elemen general
@radius: 3px;

// color background
@color-base: #fff;
@color-primary:  rgb(78, 169, 244);
@color-second:  rgb(236, 71, 119);
@color-third:  rgb(247, 222, 113);

// color line 
@color-line-primary: rgb(221, 221, 221);
@color-line-second: rgb(197, 195, 195);

// color text
@color-text-base: #fff;
@color-text-primary: #333;
@color-text-second: lighten(@color-text-primary, 60%);
@color-text-third: lighten(@color-text-primary, 70%);


// background color
@background-base: #fff;
@background-primary: #2a2a2a;
@background-second: #3c3c3c;
@background-third: #fff;


// lengh base 
@margin-base: 20px;


// transite base time
@transite-time:0.5s;




// border 
.border-primary{
	border: 1px solid @color-line-primary;
	padding: 15px;
}

// active 
.active-primary{
	display: block;
}
deactive-primary{
	display: none;
}