
// general radius 
// radius for elemen general
@radius: 3px;

// color background
@color-base: #fff;
@color-primary:  #A03F46;
@color-second:  rgb(236, 71, 119);
@color-third:  rgb(247, 222, 113);

// bacground color page 
@background-base: #fff;
@background-primary: #2A2A2A; // grey darken
@background-second: #3C3C3C;	//grey lighter

// color line 
@color-line-primary: rgb(221, 221, 221);
@color-line-second: rgb(197, 195, 195);

// color text
@color-text-primary: #333; // black good
@color-text-second: lighter(@color-primary, 40%);
@color-text-third: #E5E5E5; // grey lighter


// lengh base 
@margin-base: 20px;


// transite base time
@transite-time:0.2s;




