
// carosel main start=================================
#carosel-main{
	.item{
		img{
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

// carosel main end=======================================
// menu bottom ===========================================
.info{
	background-color: #3C3C3C;
	#menu-bottom{
	padding-top: 20px;
	padding-bottom: 20px;
	h3{
		color: @color-text-second;
	}
	a{
		color: #fff;
		trasition: 0.8s;
		&:hover{
			transform: translateX(10px);
		}
	}
	}
}


// conect for solmed and newsletter
.connect{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2A2A2A;
	h3{
		color: @color-text-second;
	}
	.newsletter{
		.form-group{
			margin-bottom: 0;
		}
		.form-control{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.btn{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}


// product list 
.product-list{
	margin-bottom: 15px;
	figure{
		width: 100%;
	}
	.img{
		height: 170px;
		background-color: darken(@color-line-primary, 10%)
	}
	figcaption{
		overflow: hidden;
		border: 1px solid @color-line-primary;
		padding: 10px;
		height: auto;
		text-align: center;
		line-height: 1.4rem;
		color: @color-text-primary;
	}
	.text-title{
		display: block;
		overflow: hidden;
		font-size: 1.4rem;
		font-weight: 700;
		margin-bottom: 0;
	}
	.deal{
		font-weight: 700;
		background-color: @color-primary;
		padding: 10px 12px;
		color: #fff;
		opacity: 0.8;
		position: absolute;
		top: 0;
		left: 0;
	}
	.buy{
		.center-inline;
		width: 137px;
		.price, .old-price{
			font-weight: 700;
			box-sizing: border-box;
			float: left;
			height: 36px;
			padding: 6px 12px;
			border: 1px solid @color-line-primary;
		}
		// price after discont
		.old-price{
			font-weight: normal;
			color: rgb(196, 196, 196);
			text-decoration: line-through;
		}
		.cart{
			box-sizing: border-box;
			color:#fff;
			float: left;
			height: 36px;
			padding: 6px 12px;
			background-color: @color-primary;
		}
	}
}

// figure small
// figure small for product relate, product new
.figure-small{
	margin-bottom: 15px;
	.img{
		height: 260px;
		border: 1px solid @color-line-primary;
		background-color: darken(@color-line-primary, 20%);
	}
	figcaption{
		border: 1px solid @color-line-primary;
		overflow: hidden;
		padding: 15px;
	}
	.text-title{
		margin-bottom: 0;
		display: block;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.4rem;
	}
	.price{
		display: block;
		font-weight: 700;
	}
}

// search-main
.search-main{
	.center-inline;
	width: 50%;
	.form-inline{
		display: inline;
		margin-left: auto;
		margin-right: auto;
		.clearfix;
	}
	.form-group{
		margin-bottom: 0;
	}
	.form-control{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		height: 45px;
	}
	.btn{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: 100%;
		height: 45px;
	}

	// width input search 
	.input-search{
		width: 80%;
	}
	.btn-search{
		width: 20%;
	}
}

